body {
    margin: 0px;
    padding: 0px;
    color: #202020;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
  }
  
  header,
  footer {
    width: 100%;
    min-height: 50px;
    background-color: rgb(228, 228, 228);
  }
  
  h1,
  h2 {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 1.5rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  main {
    padding: 40px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .photo-area,
  .comment,
  .content-area {
    display: flex;
    flex-direction: column;
  }
  
  .photo-area {
    display: flex;
    flex: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: dashed #202020 2px;
  }

  .content-area {
    flex: 100%;
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .sub-comment-section {
    margin-left: 40px;
  }

  .photo-area > .tag-area,
  .photo-info > h1 {
      display: none;
  }

  .photo-area img {
      margin-bottom: 0px;
  }

