@media all and (max-width: 978px) {
	main {
		font-size: 18px;
		padding: 0;
	}

	.content {
		grid-template-columns: 1fr;
		grid-template-rows: 30px max-content max-content 30px 1fr;
		grid-template-areas:
            "tags"
            "photo"
            "info"
            "actions"
			"comments";
		row-gap: 20px;
		align-items: start;
		column-gap: 60px;
		padding: 20px;
	}

	.picture {
		width: 100%;
		max-width: 400px;
		object-fit: cover;
	}

	.add-comment {
		grid-area: actions;
	}

	section > section > div {
		margin-left: 40px;
	}
}
